@media (max-width: 500px) {
  body {
    background-image: url('./images/bg-intro-mobile.png');
    background-color: hsl(0, 100%, 74%);
  }
  h2,
  p {
    color: white;
    font-family: sans-serif;
    padding: 1em;
    margin: 5px;
  }
  .header-container textarea {
    margin-right: 20px;
  }
  .textarea {
    margin-left: 15px;
  }
  textarea {
    background-color: hsl(248, 32%, 49%);
    color: white;
    text-align: center;
  }
  .form-container {
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    height: 50vh;
    margin-top: 10px;
  }
  .form-container p {
    color: black;
  }

  .input-field {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
  }
  button {
    width: 92%;
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    background-color: hsl(154, 59%, 51%);
    color: white;
  }

  a {
    color: red;
  }
}
